.titolo_add{
    display: flex;

    .add_dish{
        font-size: 30px;
        color: green;
        margin-left: 20px;
    }
}


.piatto{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}